<!-- //Pipes in angular//-->
<h1>{{pageTitle| titlecase}}</h1>
<table class="table table-bordered">
    <tr class="bg-primary">
      <th> Id</th>
      <th>Name</th>
      <th>City</th>
      <th>Salary</th>
      <th>DOB</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.Id }}</td>
      <td>{{user.Name | uppercase }}</td> 
      <td>{{user.city | lowercase }}</td>
      <td>{{user.Salary | currency:'INR':'symbol':'3.3-3' }}</td>
      <td>{{user.DOB | date:'dd/MM/yyyy'}}</td>
    </tr>
</table>

<pre JSON pipe apply>{{users|json}}</pre>